<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Advection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NdgCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NdgMesh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NdgPhys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NdgSolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NdgUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Polylib.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040DE6BB1F9F5B6700EF394D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04137FBD1F932F8600DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04137FCB1F93369F00DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04137FE11F93371F00DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04137FF01F9337FE00DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04137FFF1F93385F00DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0413800D1F93388600DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0413801F1F933EE300DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0413802F1F933F2A00DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0413803B1F933FC700DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041380461F933FEC00DD4CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0426A95E1F965B940054A058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0493D7E11F9F09CF003F83EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04BDCBCA1F9BA99C0096E5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04BDCBDA1F9BAA260096E5CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F6B0A91F9B78DD0050ED1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F6B0CE1F9B7BFC0050ED1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F6B0E01F9B7EA60050ED1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F6B0EF1F9B7FB40050ED1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FBA4C21F94B71300DA65FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
